@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --error: rgb(255, 56, 56);
  --pure-black: rgb(0, 0, 0);
  --pure-white: rgb(255, 255, 255);
  --darker-white: rgb(240, 231, 231);
  --black-50percent: rgba(24, 24, 24, 50%);
  --black-100percent: rgba(24, 24, 24, 100%);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--black-100percent) !important;
  height: 100vh;
}

/* login and register pages */
.formContainer {
  display: flex;
  align-items: center;
}

.mainContainer {
  height: 100%;
}
.homeContainer {
  outline: 1px solid var(--pure-black) !important;
  position: relative;
  width: 50%;
  padding: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--pure-white) !important;
}

/* modal temporary css */
.modalContainer::backdrop {
  background-color: var(--black-50percent) !important;
}
