.imgContainer {
	background: var(--black-100percent);

	position: relative;
}
.imgCarousel {
	height: 300px;
	overflow: hidden;
}
.imgSlider {
	height: 100%;
	transition: all 0.3s;
	display: flex;
}
.section {
	flex-basis: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.previous {
	left: 0;
	border: 1px solid white;
}
.next {
	right: 0;
	border: 1px solid white;
}
