.dialogBox {
  border-radius: 0.125rem;
  padding: 1.5rem;
  background-color: var(--pure-white) !important;
  width: 40%;
}
.dialogBox::backdrop {
  background-color: var(--black-50percent) !important;
}
.mainContainer {
  display: flex;
  flex-direction: column;
}
.textArea {
  outline: 1px solid var(--black-50percent) !important;
  border-radius: 3px;
  padding: 3px 6px;
}
.submitBtn {
  background-color: var(--black-100percent) !important;
  border-radius: 3px;
  color: var(--pure-white) !important;
  padding: 3px;
}
.fileInputContainer {
  margin-top: 20px;

  display: flex;
  align-items: center;
}
.filesContainer {
  flex-basis: 100%;

  display: flex;
  align-items: center;
  gap: 10px;
}
