.imgContainer {
  background: var(--black-100percent) !important;

  position: relative;
}
.imgCarousel {
  height: 300px;
  overflow: hidden;
}
.imgSlider {
  height: 100%;
  transition: all 0.3s;
  display: flex;
}
.section {
  flex-basis: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  position: absolute;
  top: 50%;
  color: var(--pure-white) !important;
  padding: 6px;
  transform: translateY(-50%);
  border: 2px solid var(--pure-white) !important;
  border-radius: 12px;
  min-width: 96px;
  text-transform: capitalize;
}
.previous {
  left: 0;
}
.next {
  right: 0;
}
